@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Assombrissement de overlay lorsque le menu est ouvert */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(135, 135, 135, 0.501);
  z-index: 1;
  display: none;
}
.overlay.active {
  display: block;
}

/* Bouton Hamburger */
.menu-btn {
  position: fixed;
  top: 10px;
  left: 15px;
  cursor: pointer;
  z-index: 3;
}
.menu-btn .bar {
  width: 23px;
  height: 3.5px;
  background-color: #333;
  margin: 2.2px 0;
  transition: all 0.3s ease;
  background-color: white;
}

/* btn barre de recherche plan */
.button-itinéraire {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 25px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}
.button-itinéraire:hover {
  background: #f6f9fe;
  color: #174ea6;
}
.button-itinéraire:active {
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3), 0 8px 12px 6px rgba(60, 64, 67, 0.15);
  outline: none;
}
.button-itinéraire:focus {
  outline: none;
  border: 2px solid #4285f4;
}
.button-itinéraire:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.button-itinéraire:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.button-itinéraire:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}
.button-itinéraire:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}
.button-itinéraire:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

/* icônes du haut */
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.icon-container .icon {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}
.icon-container .icon:hover {
  transform: scale(1.2);
  color: rgb(70, 132, 247);
}

/* icône de déconnexion */
.logout-icon .icon {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s;
}
.logout-icon .icon:hover {
  transform: scale(1.2);
  color: rgb(253, 72, 72);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  background: linear-gradient(135deg, #4a90e2, #d9e6f6);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: rgb(130, 174, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
header h1 {
  color: aliceblue;
  letter-spacing: px;
}

.slide-menu {
  position: fixed;
  left: -250px;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #333;
  transition: left 0.3s ease-in-out;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px;
}
.slide-menu.open {
  left: 0;
}

.search-itinéraire {
  position: fixed;
  display: flex;
  margin-top: 50px;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 15px 0 15px;
}
.search-itinéraire .group-itinéraire {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.search-itinéraire .group-itinéraire .input-itinéraire {
  margin-left: 25px;
  font-size: 16px;
  height: 23px;
  padding: 5px 10px;
  outline: none;
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #C4D1EB;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 0px #E2E2E2;
  transition: 0.3s ease;
}
.search-itinéraire .group-itinéraire .input-itinéraire:focus {
  background: #f2f2f2;
  border: 1px solid #5a7ec7;
  border-radius: 10px;
}
.search-itinéraire .group-itinéraire .input-itinéraire::-moz-placeholder {
  color: #dddddd;
}
.search-itinéraire .group-itinéraire .input-itinéraire::placeholder {
  color: #dddddd;
}
.search-itinéraire .section-btn-itinéraire {
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-container {
  flex: 1;
  display: flex;
  height: 100vh;
  padding-top: 150px;
}
.map-container #map {
  width: 100%;
  height: 100%;
}

.RegistrationContainer {
  font-family: "Raleway", sans-serif;
  width: 90%;
  height: 65%;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(194, 206, 252, 0.4901960784);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.RegistrationContainer .phoneImgContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.RegistrationContainer .phoneImgContainer .phoneLogo {
  font-size: 50px;
}
.RegistrationContainer .enregistrement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  border-radius: 10px;
}
.RegistrationContainer .enregistrement label {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}
.RegistrationContainer .enregistrement .inputKidDevice {
  width: 80%;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border: 0.8px solid #ccc;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}
.RegistrationContainer .enregistrement .inputKidDevice:focus {
  border-color: rgb(70, 132, 247);
  outline: none;
}
.RegistrationContainer .enregistrement .enregistrerEnfant {
  font-family: "Raleway", sans-serif;
  width: 80%;
  height: 45px;
  background: #4a90e2;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.RegistrationContainer .enregistrement .enregistrerEnfant:hover {
  background-color: #1563f5;
}
.RegistrationContainer .enregistrement .enregistrerEnfant:active {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-container {
  background: rgba(194, 206, 252, 0.4901960784);
  /* background: linear-gradient(135deg, #4a90e2, #d9e6f6); */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}
.login-container .logo-container img {
  width: 150px;
  margin-bottom: 2.5rem;
  border-radius: 30px;
}
.login-container .message-connexion h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1.5px;
  color: #1321e5;
  margin-bottom: 0.3rem;
  line-height: 0.8;
}
.login-container .message-connexion h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #4993ec;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}
.login-container form {
  margin-bottom: 35px;
}
.login-container form .form-group input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 0.8px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
}
.login-container form .form-group input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
.login-container form .form-group input::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.login-container form .form-group input::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.login-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.login-container a button {
  display: block;
  width: 50%;
  padding: 0.8rem;
  font-size: 1.3rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #4a90e2;
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}
.login-container a button:hover {
  background: #357ab8;
}
.login-container .links p {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  color: #024ba3;
}
.login-container .links p span a {
  text-decoration: none;
  display: block;
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #0077ff;
}
.login-container .links p span a:hover {
  color: #004395;
}

.homeContainer {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  background: rgba(194, 206, 252, 0.4901960784);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(135deg, #4a90e2, #d9e6f6);
  box-shadow:  -6px 6px 12px #4a91e269,
              6px -6px 12px #d9e6f65f; */
  padding: 15px;
  margin: 20px;
}
.homeContainer h1 {
  text-align: center;
}
.homeContainer .introduction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.homeContainer .introduction p {
  padding: 20px;
  text-align: justify;
}
.homeContainer .ajouterAppareil {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.homeContainer .ajouterAppareil .ajouter {
  height: 40px;
  width: 30px;
}

hr {
  width: 200px;
  color: rgba(40, 143, 233, 0.532);
}

.kidCreated {
  display: none;
}

.kidLogo {
  font-size: 15px;
}

.mobile-form-container {
  background: rgba(194, 206, 252, 0.4901960784);
  /* background: linear-gradient(135deg, #4a90e2, #d9e6f6); */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 400px;
}
.mobile-form-container .logo-container img {
  width: 150px;
  margin-bottom: 2.5rem;
  border-radius: 30px;
}
.mobile-form-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  color: #1321e5;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
.mobile-form-container form {
  margin-bottom: 30px;
}
.mobile-form-container form .form-group input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 0.8px solid #ccc;
  border-radius: 15px;
  font-size: 1rem;
}
.mobile-form-container form .form-group input:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}
.mobile-form-container form .form-group input::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.mobile-form-container form .form-group input::placeholder {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.mobile-form-container a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.mobile-form-container a button {
  display: block;
  width: 50%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  background: #4a90e2;
  color: #fff;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}
.mobile-form-container a button:hover {
  background: #357ab8;
}
.mobile-form-container .links p {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  color: #024ba3;
}
.mobile-form-container .links p span a {
  text-decoration: none;
  display: block;
  margin-left: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
  color: #0077ff;
}
.mobile-form-container .links p span a:hover {
  color: #004395;
}

.settings-header {
  text-align: center;
  margin-bottom: 20px;
}

.settings-header h1 {
  margin: 0;
  font-size: 24px;
  color: #555;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  flex-wrap: nowrap;
}

.setting-item:last-child {
  border-bottom: none;
}

.setting-item:hover {
  background-color: #f1f1f1;
}

.setting-item i {
  margin-right: 15px;
  font-size: 18px;
  color: #3f3d3b;
}

.setting-item div {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
}

.setting-item button {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 14px;
}

/* Toggle Button */
.toggle-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 8px;
  background-color: #ccc;
  border-radius: 20px;
  cursor: pointer;
  width: 10px;
  height: 2px;
  transition: background-color 0.3s ease;
}

.toggle-button.active {
  background-color: #4caf50;
}

.toggle-button span {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-button.active span {
  transform: translateX(20px);
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

.logout-button:hover {
  background-color: #e63939;
}

.logout-button i {
  margin-right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .settings-container {
    margin: 20px;
    padding: 15px;
  }
  .settings-header h1 {
    font-size: 20px;
  }
  .setting-item {
    padding: 10px 15px;
    flex-direction: row;
    align-items: center;
  }
  .setting-item span {
    margin-bottom: 0;
  }
  .setting-item button {
    margin-left: auto;
  }
  .logout-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}/*# sourceMappingURL=styles.css.map */