// Pour rajouter des appareils à suivre quand on clique sur "+" dans le Home Page

@import "../utils/variables";

// Styles pour le conteneur principal
.RegistrationContainer {
    font-family: 'Raleway', sans-serif;
    width: 90%;
    height: 65%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #c2cefc7d;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 600px;

    // Conteneur de l'image
    .phoneImgContainer {
        display: flex;
        justify-content: center;
        width: 100%;

        .phoneLogo {
            font-size: 50px;
        }
    }

    // Formulaire d'enregistrement
    .enregistrement {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: auto;
        padding: 30px 20px; // Ajout de padding pour plus d'espace autour des éléments
        border-radius: 10px;
    
        label {
            font-size: 16px;
            font-weight: 600;
            color: $text-color;
            margin-bottom: 5px; // Espacement entre le label et le champ
        }
    
        .inputKidDevice {
            width: 80%;
            height: 40px;
            padding: 10px;
            font-size: 16px;
            border: 0.8px solid #ccc;
            border-radius: 15px;
            margin-bottom: 15px;
            transition: border-color 0.3s ease;

            &:focus {
            border-color: $primary-color;
            outline: none;
            }
        }

        .enregistrerEnfant {
            font-family: 'Raleway', sans-serif;
            width: 80%;
            height: 45px;
            background: #4a90e2;
            font-size: 18px;
            font-weight: bold;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
            background-color: darken($primary-color, 10%);
            }

            &:active {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            }
        }
    }
}