// Corps de l'app

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    overflow: hidden;
    background: linear-gradient(135deg, #4a90e2, #d9e6f6);
}