// style de la Home Page

@import "../utils/mixins";

.homeContainer {
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    @include flexMid;
    gap: 10px;
    border-radius: 15px;
    background: #c2cefc7d;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 90%;
    max-width: 600px;

    h1 {
        text-align: center;
        color: #4622e8;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include flexMid;
        margin-bottom: 30px;

        p {
            padding: 20px;
            text-align: justify;
        }

        .parag-slogan {
            text-align: center;
            font-size: 20px;
            color: #01072c;
            font-weight: 500;
            text-shadow: 1px 1px 1px rgba(44, 60, 233, 0.432), 0 0 1em rgba(63, 63, 206, 0.201), 0 0 0.2em rgba(63, 63, 224, 0.312);
            letter-spacing: 1.3px;
        }
    }

    .ajouterAppareil {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include flexMid;
        margin-bottom: 40px;

        h2 {
            color: #2e39ceba;
            margin-bottom: 15px;
        }

        .ajouter {
            height: 40px;
            width: 30px;
            margin-bottom: 2px;
            font-size: 28px;
        }

        hr {
            width: 200px;
            color: rgba(40, 143, 233, 0.532);
        }
    }

    .kidCreated{
        display: none;
        margin-bottom: 25px;

        hr {
            width: 200px;
            color: rgba(40, 143, 233, 0.532);
        }

        .kidLogo{
            font-size:32px;
            margin: 10px 0;
        }

        p {
            font-family: "Google Sans",Roboto,Arial,sans-serif;
            font-size: 23px;
            margin-bottom: 10px
        }
    }
    

    .commencerTrajet {
        margin-bottom: 10px;
    }
}