// style de la page de base -----
@import "../utils/mixins";

// body {
//     background-color: #e0e0e0;
// }

.homeContainer {
    display: flex;
    flex-direction: column;
    @include flexMid;
    gap: 10px;
    border-radius: 15px;
    background: #ffffff;
    box-shadow:  -6px 6px 12px #dedede,
                6px -6px 12px #ffffff;
    padding: 15px;
    margin: 20px;

    h1 {
        text-align: center;
    }

    .introduction {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include flexMid;
        

        p {
            padding: 20px;
            text-align: justify;
        }
    }

    .ajouterAppareil {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @include flexMid;

        .ajouter {
            height: 40px;
            width: 30px; 
        }

        hr {
            width: 200px;
            color: aliceblue;
        }
    }
}

