// Style de la page d'inscription

.mobile-form-container {
    background: #c2cefc7d;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;

    .logo-container {
        img {
            width: 150px;
            margin-bottom: 2.5rem;
            border-radius: 30px;
        }
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        color: #1321e5;
        margin-bottom: 1.5rem;
        line-height: 1.5;
    }

    form {
        margin-bottom: 30px;
        .form-group {
            input {
                width: 100%;
                padding: 0.8rem;
                margin-bottom: 1rem;
                border: 0.8px solid #ccc;
                border-radius: 15px;
                font-size: 1rem;

                &:focus {
                    border-color: #4a90e2;
                    outline: none;
                    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
                }

                &::placeholder {
                    font-family: 'Raleway', sans-serif;
                    font-size: 18px;
                }
            }
        }
    }

    .container-signup {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        button {
            display: block;
            width: 50%;
            padding: 0.6rem;
            font-size: 1.3rem;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            transition: background 0.3s ease;
            background: #4a90e2;
            color: #fff;
            margin-bottom: 1rem;
            font-family: 'Raleway', sans-serif;

            &:hover {
                background: #357ab8;
            }
        }
    }

    .links{
        p {
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 1.2rem;
            color: #024ba3;

            span {
                a {
                    text-decoration: none;
                    display: block;
                    margin-left: 10px;
                    font-size: 1.3rem;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                    transition: background 0.3s ease;
                    color: #0077ff;
    
                    &:hover {
                        color: #004395;
                    }
                }
            }
        }
    }
}