// Style pour les icônes


/* icônes du haut */
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .icon {
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.2);
            color: rgb(70, 132, 247);
        }
    }
}

/* icône de déconnexion */
.logout-icon {
    .icon {
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.2);
            color: rgb(253, 72, 72);
        }
    }
}